#vietnam {
    display: none;
}

#thailand {
    display: none;
}

#malaysia {
    display: none;
}

#singapore {
    display: none;
}

.mainbar button:hover {
    transition: transform 0.2s;
    transform: scale(1.01);
}

footer {
    background-color: burlywood;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mainbar {
    margin: 20px auto 20px auto;
    background-color: beige;
    width: 1100px;
    padding-bottom: 0;

    display: column;
}

.mainbar__country {
    background-color: #008000;
    display: flex;
    width: 100%;
}

.mainbar__country>button {
    width: 100%;
    height: 50px;

    border: 1px solid;

    background-color: beige;
}

.mainbar__menu {
    padding: 0%;

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainbar__menu>div {
    background-color: green;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    ;
    align-items: center;
}

button[class^=openDetail] {
    background-color: rgba(231, 225, 225, 0.9);
    border-radius: 15px;
}

.mainbar__menu #vietnam {
    background-image: url("https://cdn.pixabay.com/photo/2018/01/04/07/59/salt-harvesting-3060093_960_720.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mainbar__menu #thailand {
    background-image: url("https://cdn.pixabay.com/photo/2016/11/14/04/45/elephant-1822636_960_720.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mainbar__menu #malaysia {
    background-image: url("https://cdn.pixabay.com/photo/2016/11/13/12/52/kuala-lumpur-1820944_960_720.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mainbar__menu #singapore {
    background-image: url("https://cdn.pixabay.com/photo/2017/01/18/15/34/singapore-1990090_960_720.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mainbar__menu>div>button {
    width: 95%;
    height: 50px;
    margin: 15px auto 15px auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainbar__detail {
    background-color: rgba(231, 225, 225, 0.9);

    margin: 30px auto 30px auto;

    width: 500px;
    padding: 15px;

    text-align: center;

    border-radius: 20px;

    border: 2px solid black;
}

button[class^=closeDetail] {
    background-color: rgb(204, 170, 170);

    border: 0.5px thin;
    border-radius: 10px;

    float: right;
}

.mainbar__country button {
    font-weight: bold;
}